/*
packer_compiled.lua
tmux/plugins/

!.archive/
!.gitignore
!.luke-config/
!.tmux.conf*
!.zsh*
!README.md
!environment.d/
!fuzzel/
!git/
!kitty/
!mimeapps.list
!neovim-plugin-replacement.md
!notes-to-self/
!nvim-lite/
!nvim/
!packages/
!qmk/
!qt6ct/
!ranger/
!sway/
!tmux/
!tofi/
!vim/
!wallpapers/
!waybar/
!zsh-theme/
!zsh/
