* {
  font-family: 'CaskaydiaCove Nerd Font';
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  /*background: none;*/
  background-color: rgba(17, 17, 27, 0.6);
}

.modules-right * {
  margin: 0px 10px;
}

#workspaces button.active {
  background-color: rgba(188, 188, 188, 0.2);
}

#workspaces button {
  margin: 0px 4px;
  padding: 0px 2px;
  min-width: 30px;
  border-radius: 0px;
}

#workspaces {
  padding: 0px 10px;
}

#pulseaudio {
  padding: 0px 10px;
}
