@import "mocha.css";

* {
  font-family: 'CaskaydiaCove Nerd Font';
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  /*background: none;*/
  background-color: alpha(@surface0, 0.5);
  color: @lavender;
}

#workspaces {
  /**/
}

#workspaces button.active {
  color: @text;
  background-color: alpha(@overlay1, 0.2);
}

#workspaces button:not(.active) {
  color: @mauve;
}

#workspaces button {
  margin: 0px 4px;
  padding: 0px 2px;
  /*min-width: 30px;*/
  border-radius: 0px;
}

#workspaces button * {
  padding: 0px 2px;
}

#workspaces {
  padding: 0px 10px;
}

.modules-right .module {
  padding: 0px 10px;
  border-left: 1px solid alpha(@blue, 0.1);
}

#wireplumber {
  color: @blue;
}

#wireplumber.muted {
  color: @overlay0;
}

#backlight {
  color: @maroon;
}

#network {
  color: @teal;
}

#temperature {
  color: @sapphire;
}

#battery {
  color: @flamingo;
}

#clock {
  color: @text;
  background-color: alpha(@surface0, 0.5);
}
