 /* @import url("file:///etc/xdg/waybar/style.css"); */

 * {
   /* `otf-font-awesome` is required to be installed for icons */
   /* font-family: 'Arimo Nerd Font', 'MonaspiceNe Nerd Font', monospace; */
   /* font-family: 'IosevkaTerm Nerd Font', 'MonaspiceNe Nerd Font', monospace; */
   font-family: 'AurulentSansM Nerd Font', 'MonaspiceNe Nerd Font', monospace;
   font-size: 13px;
 }

 window#waybar {
   background-color: rgba(43, 48, 59, 0);
   /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
   color: #ffffff;
   transition-property: background-color;
   transition-duration: .5s;
 }

 window#waybar.hidden {
   opacity: 0.2;
 }

 button {
   /* Use box-shadow instead of border so the text isn't offset */
   box-shadow: inset 0 -3px transparent;
   /* Avoid rounded borders under each button name */
   border: none;
   border-radius: 0;
 }

 /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
 button:hover {
   background: inherit;
   box-shadow: inset 0 -3px #ffffff;
 }

 #workspaces button {
   padding: 0 5px;
   background-color: transparent;
   color: #ffffff;
 }

 #workspaces button:hover {
   background: rgba(0, 0, 0, 0.2);
 }

 #workspaces button.focused,
 #workspaces button.active {
   box-shadow: inset 0 -3px #ffffff;
 }

 #mode {
   box-shadow: inset 0 -3px #ffffff;
 }

 .modules-right>widget>* {
   color: #ffffff;
   border-radius: 10px;
   padding: 3px 8px;
   margin: 1px;
   /* border-right: 3px solid rgba(100, 114, 125, 0.5); */
   /* border-left: 3px solid rgba(100, 114, 125, 0.2); */
   /* background-color: rgba(0, 0, 0, 0.4); */
 }

 #window,
 #workspaces {
   margin: 0 4px;
 }

 /* If workspaces is the leftmost module, omit left margin */
 .modules-left>widget:first-child>#workspaces {
   margin-left: 0;
 }

 @keyframes blink {
   to {
     color: #000000;
   }
 }

 /* Using steps() instead of linear as a timing function to limit cpu usage */
 #battery.critical:not(.charging) {
   animation-name: blink;
   animation-duration: 0.5s;
   animation-timing-function: steps(12);
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }

 #custom-media {
   min-width: 100px;
 }

 #tray>.passive {
   -gtk-icon-effect: dim;
 }

 #tray>.needs-attention {
   -gtk-icon-effect: highlight;
 }



 #keyboard-state>label {
   padding: 0 5px;
 }

 #keyboard-state>label.locked {
   background: rgba(0, 0, 0, 0.2);
 }

 #scratchpad {
   background: rgba(0, 0, 0, 0.2);
 }

 #scratchpad.empty {
   background-color: transparent;
 }
